html{
    font-family: "Source Serif 4", serif;
}
div{
    background-color:blue;
}
#tamanho-relativo{
    background-color: antiquewhite;
    font-size: 1.8rem;
}
#tamanho-fixo{
    background-color: aqua;
    font-size: 1cm;
}
#meu-span{
    font-weight: bold;
    color: red;
    background-color:turquoise;
}
